# Facebook App Configuration
# Bearer token for authenticating requests to the Facebook Graph API
# Generate a permanent access token in the App Dashboard under below path (or via Graph API Explorer for testing).
# Found in: Facebook App Dashboard > Use cases > Connect through Whatsapp (Customize) > API Setup
ACCESS_TOKEN=your_actual_app_token

# Secret key used to verify webhook signatures from Facebook
# Found in: Facebook App Dashboard > Settings > Basic > App Secret
APP_SECRET=your_actual_app_secret

# Unique identifier for the Facebook App
# Found in: Facebook App Dashboard > Settings > Basic > App ID
APP_ID=your_actual_app_id

# Token used by Facebook to verify the webhook endpoint is legitimate
# Webhook configuration in your app settings (you create this custom value)
# Found in: Facebook App Dashboard > Use cases > Connect through Whatsapp (Customize) > Configuration
VERIFY_TOKEN=your_actual_verify_token

# Server Configuration
# Port number on which the server will listen for incoming requests
PORT=8080
